<!DOCTYPE html>
<html>
  <head>
    <title>MockTwitter</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>

  <body>
    <div class="container-fluid">
      <nav class="main-nav">
        <div class="user-profile"><i class="far fa-smile fa-lg"></i><span id="main-mobile-head">This is Home</span></div>
        <ul class="flex-nav">
          <li class="nav-items">
            <%= link_to(root_path, :class => "main-nav-link")  do %>
            <i class="fas fa-home fa-lg"></i>
            <% end %>
          </li>
          <li class="nav-items">
            <%= link_to(root_path, :class => "main-nav-link")  do %>
            <i class="fas fa-search fa-lg"></i>
            <% end %>
          </li>
          <li class="nav-items">
            <%= link_to(root_path, :class => "main-nav-link")  do %>
            <i class="far fa-bell fa-lg"></i>
            <% end %>
          </li>
          <li class="nav-items">
            <%= link_to(root_path, :class => "main-nav-link")  do %>
            <i class="fas fa-envelope fa-lg"></i>
            <% end %>
          </li>
        </ul>
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
